#containerSlipHover {
    width: 900px;
    margin: 0 auto;
}

#containerSlipHover li {
    display: inline-block;
    list-style-type: none;
}

#containerSlipHover li img {
    height: 200px;
    margin: 20px;
    border: 3px solid #fff;
}

.info-wrap {
    width: 1040px;
    margin: 120px auto 0;
    text-align: center;
}

.info-wrap > .title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    color: #1C1C1E;
}